@model PokemonDB_MVC.Models.TrainerTbl

@{
    ViewBag.Title = "Delete";
}

<div class="main-section">

    <div class="trainer-card">
        <img src="~/Images/trainer.png" class="trainer-card-img" style="width:100%;" />
        <div class="trainer-id">
            ID: @Html.DisplayFor(model => model.TrainerID)
        </div>
        <div class="trainer-name">
            NAME: @Html.DisplayFor(model => model.TrainerName)
        </div>
        <div class="trainer-image">
            <img />
            @if (Model.Gender == "Male")
            {
                <img src="~/Images/hilbert.png" />
            }
            else if (Model.Gender == "Female")
            {
                <img src="~/Images/hilda.png" />
            }
        </div>
        <div class="pokemon-image">
            @if (Model.PokemonTbl.Image != null)
            {
                var imgAs64 = Convert.ToBase64String(Model.PokemonTbl.Image);
                var imgAsGif = string.Format("data:image/gif; base64, {0}", imgAs64);
                <img src="@imgAsGif" />
            }
            else
            {
                <span>No image available</span>
            }

        </div>
        <div class="trainer-badges">
            <h5>BADGES</h5>
        </div>

        <h3 class="delete-question">Are you sure you want to delete this?</h3>
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index", new object { }, new { @class = "trainer-action-controls" })
            </div>
        }
    </div>

</div>
